@font-face{
    font-family: 'DPSDbeyond';
    src: url('/fonts/DPSDbeyond.otf');
    
}
@font-face{
    font-family: 'DPSDbeyond';
    font-weight: regular;
    src: url('/fonts/DPSDbeyond.otf');
    
}
body {
    margin:0;
    padding: 0;
}

#welcomeContainer {
    margin: 0;
    padding: 0;
    background-color: #2f3542;
    color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    font-family: 'DPSDbeyond';
    
    
}


.center {
  
    margin: auto;
    width: 50%;
    /*border: 3px solid green;*/
    padding: 10px;
    text-align: center;
    font-family: 'DPSDbeyond';
    
    
}

ul {
    border: 3px solid #73AD21;
    margin: auto;
    width: 5%;
    min-height: 100px;
    font-family: 'DPSDbeyond';
}

li {
    float: right;
    cursor: pointer;
    text-align: right;
    display: block;
    border: 3px solid #73AD21;
    width: max-content;
    font-family: 'DPSDbeyond';   
}

li.hover {
    background-color : black;
}

#introAnimation {
    text-decoration-color: rgb(105, 53, 157);
    position: relative;
}